@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 0;
  margin-right: 5px;
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
}

.calculator-container {
  background-color: #f9fbfe;
  padding-bottom: 40px;
}

.heading {
  color: #264fa2;
  font-family: "bree serif" !important;
  font-size: 36px;
  font-weight: 500;
}

.input-label {
  margin-bottom: 0 !important;
  color: #7b8794;
  font-family: "Roboto";
  font-size: 12px;
}

.radio-div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}
.radio-div input {
  width: 25px;
}

#lifeAmount,
#healthAmount,
#FPRdisplay {
  flex: 1;
  height: 40px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  margin-left: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #cbd2d9;
  border-radius: 6px;
  font-size: 14px;
}

#FPR {
  width: 20px;
  cursor: pointer;
}

.user-input {
  height: 40px;
  width: 100%;
  border: 1px solid #cbd2d9;
  border-radius: 6px;
  padding-left: 12px;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 14px;
}

  .button {
    min-width: 120px;
    padding: 8px 16px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #264fa2;
  border: none;
  border-radius: 10px;
  box-shadow: 7px 6px 18px 1px rgba(0, 0, 0, 0.24); 
}

.button:hover {
  background-color: #3e76e7;
}

.button:active {
  border: none !important;
  background-color: #264fa2;
  box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.24); 
  transform: scale(0.95);
  transition: all 0.05s ease-in-out;
}
.button:focus {
  outline: none;
  border: none;
}

.error-message {
  display: none;

  color: #cf1124;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}

select {
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #cbd2d9;

  font-family: "Roboto";
  font-size: 14px;
  height: 40px;
}
select option {
  text-align: center;
  font-family: "Roboto" !important;

  font-weight: 500;
}

.copyright {
  font-family: "bree serif" !important;
    font-size: 14px;
    position: relative;
    left: 154px;
    bottom: 22px;
}

input {
    font-family: Roboto !important;
}

.span {
  display: block;
  width: 33px;
  height: 33px;
  border: 5px solid white;
  border-radius: 50%;
  border-bottom: 5px solid transparent;
  animation: spin .5s linear infinite;
}
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
.hidden {
  display: none;
}